html {
  font-size: 14px;

  @include media-breakpoint-up(md) {
    font-size: 13px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 14px;
  }

  @include media-breakpoint-up(xl) {
    font-size: 15px;
  }

  @include media-breakpoint-up(xxl) {
    font-size: 16px;
  }

  @media (min-width: 1600px) {
    font-size: 17px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1440px;
  }
}

@media (min-width: 1800px) {
  .container {
    max-width: 1536px;
  }
}

@media print {
  .pagebreak {
    clear: both;
    page-break-after: always;
  }
}

.container-fluid {
  max-width: none;
}

:focus {
  //box-shadow: none !important;
  outline: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

p {
  margin: 0;
}

b,
strong {
  font-weight: $font-weight-normal;
}

.strong {
  font-weight: $font-weight-normal;
}

ol,
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: $brand-color;
  text-decoration: underline;
}

.svg {
  fill: currentColor;
}

mark,
.mark {
  padding: 0;
}

.text-left {
  text-align: #{$start-direction} !important;
}

.text-right {
  text-align: #{$end-direction} !important;
}

.divider {
  height: 1px;
  background: $border-color;
  margin: 15px 0;
}

.note {
  font-weight: $font-weight-regular;
  margin-top: 10px;
  display: block;
}

.txt-white {
  color: #fff;
}

.txt-brand {
  color: $brand-color;
}

.txt-secondary {
  color: $secondary-color;
}

.txt-success {
  color: $success-color;
}

.dragHandle {
  cursor: move;
}

#st_gdpr_iframe {
  display: none;
}

.not-allowed {
  background: #ededed;
  color: #888;
  cursor: not-allowed !important;
}

.formActions-css {
  display: none !important;
}

.gap {
  height: 1rem;
  clear: both;
  display: table;
  width: 100%;
}

.align-center {
  margin: 0 auto;
  text-align: center;
}

.hidden {
  display: none !important;
}

.no-after {
  &:after {
    content: normal !important;
  }

  &:before {
    content: normal !important;
  }
}

.list-inline {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.focused-div {
  height: auto;
  cursor: text;
  font-size: 0.9em;
}

.cards-message {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin: auto;
  color: var(--body-color);
  height: 100%;

  .cards-message-icon {
    display: flex;
    align-items: center;
    padding: 1.25rem 0;
    font-size: 2.5rem;
  }

  .alert-text {
    align-self: center;
  }
}

.profile-image {
  .avtar {
    margin: 0 auto;
  }
}

.info-message {
  background: #f9edbe;
  border: 1px solid #f0c36d;
  color: #6c6c6c;
  font-size: 0.85em;
  line-height: 1.2;
  border-radius: $common-radius;
  padding: 0.8rem;
}

.docs-buttons {
  display: flex;
  justify-content: center;

  .btn-group {
    margin: 0 2px;
  }
}

.strikethrough {
  text-decoration: line-through;
}

.cursor-pointer {
  cursor: pointer;
}

.alert-aligned {
  height: 100%;
  display: flex;
  align-items: center;
}

.text-link {
  font-weight: $font-weight-normal;
  color: $brand-color;
}

.close-layer {
  z-index: 2;
  position: absolute;
  #{$end-direction}: 10px;
  top: 10px;
  width: 32px;
  height: 32px;
  opacity: 0.3;

  transition: all 300ms;
  display: flex;
  align-items: center;
  border: none;
  background: none;

  &:hover,
  &:focus,
  &:active {
    transform: rotate(-90deg);
    opacity: 1;
  }

  &:before,
  &:after {
    position: absolute;
    #{$start-direction}: 15px;
    content: " ";
    height: 18px;
    width: 2px;
    background-color: #000;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  &--white {

    &:before,
    &:after {
      background-color: #fff;
    }
  }

  &-sm {
    width: 20px;
    height: 20px;

    &:before,
    &:after {
      #{$start-direction}: 10px;
      height: 12px;
      width: 1px;
    }
  }
}

//.browse-more
.browse-more {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 0.5rem;

  li {
    a {
      @include bg-gray;
      border-radius: 30px;
      padding: 0.5rem 1rem;
      //border: $border;
      font-size: 0.75rem;
      font-weight: $font-weight-bold;
      display: block;

      &:hover,
      &:focus,
      &:active {
        @include bg-black;
        border-color: currentColor;
        text-decoration: none;
      }
    }
  }
}

.form-edit {
  display: flex;
  flex-direction: column;
  //height: 100%;
  padding: 0;

  &-head {
    padding: 0 2rem;
    border-bottom: $border;
  }

  &-body {
    flex: 1 1 auto;
    padding: 1.5rem 2rem;

    .h3 {
      font-size: 1rem;
      color: $txt-body;
    }
  }

  &-foot {
    border-top: $border;
    position: sticky;
    bottom: 0;
    z-index: 1020;
    background-color: $bg-white;
    padding: 1.5rem 2rem;
  }
}

//.slider-controls
.slider-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 0.5rem;
  flex-direction: row;
  flex-wrap: nowrap;

  .btn {
    background-color: #f1f1f1;
    color: #000;
    border: solid 1px transparent;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    // display: block;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-up(lg) {
      //border: $border-black;
    }

    &-prev span {
      display: inline-block;
      border-#{$end-direction}: 2px solid currentColor;
      border-bottom: 2px solid currentColor;
      width: 8px;
      height: 8px;
      transform: rotate(136deg * $transform-direction);
      margin-#{$end-direction}: -3px;
    }

    &-next span {
      display: inline-block;
      border-#{$end-direction}: 2px solid currentColor;
      border-bottom: 2px solid currentColor;
      width: 8px;
      height: 8px;
      transform: rotate(-45deg * $transform-direction);
      margin-#{$start-direction}: -3px;
    }

    &:is(:hover, :focus) {
      background-color: #000;
      color: #fff;
      box-shadow: none;

      span {}
    }
  }
}

.processing-wrap {
  position: relative;
}

.processing {
  background-color: rgba(255, 255, 255, 0.55);
  position: absolute;
  z-index: 1024;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &:after {
    position: absolute;
    content: "";
    background-color: rgba(255, 255, 255, 0.05);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

.skeleton {
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%),
    lightgray;
  border-radius: 2px;
  height: 10px;
  margin: 2px 0;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(to right,
        transparent 0%,
        #e8e8e8 50%,
        transparent 100%);
    animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}

@keyframes load {
  from {
    left: -150px;
  }

  to {
    left: 100%;
  }
}

.grid-layout {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @include media-breakpoint-up(lg) {
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: minmax(auto, 24%) 1fr;
  }
}

.badges-list {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 5px;
  width: 100%;

  &-img {
    border-radius: 6px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-width: 22px;
  }
}

.badges-wrap {
  z-index: 1;
  position: absolute;
  #{$end-direction}: 0.25rem;
  top: 0.25rem;
}

.dropdown-addresses {
  .btn-dropdown {
    border-radius: $input-border-radius;
    width: 100%;
    gap: 0.5rem;
    padding-#{$start-direction}: 1rem;
  }

  .dropdown-menu-option {
    cursor: pointer;
    font-weight: 400;
  }
}

.dropdown-menu-addresses {
  max-height: 250px;
  overflow-y: auto;

  .dropdown-menu-link {
    font-size: 0.85rem;
    font-weight: 400;
  }
}

/* Dev */
.z-index-9999 {
  z-index: 9999 !important;
}


//uploaded-list
.uploaded-list {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-top: 1rem;

  &-inline {
    flex-flow: row wrap;
  }

  &-item {
    border: $border;
    border-radius: $input-border-radius;
    display: flex !important;
    gap: 1rem;
    //align-items: center;
    padding: 0.5rem;
    margin: 0;

    .media {
      width: 50px;
      height: 50px;
      position: relative;

      img {
        border-radius: $input-border-radius;
        position: absolute;
        top: 0;
        #{$end-direction}: 0;
        bottom: 0;
        #{$start-direction}: 0;
        object-fit: cover;
      }
    }

    .title {
      flex: 1;
      font-size: 0.875rem;
      font-weight: 500;
      color: $txt-gray;
      @include truncate(100%);
    }

    .btn-close {
      margin-#{$start-direction}: auto;
    }
  }
}

//product-type
.product-type {
  background-color: $bg-black;
  color: #fff;
  border-radius: $radius;
  border: none;
  padding: 3px 6px;
  font-size: 11px;
  font-weight: 600;
  display: inline-block;
}