.section {
  padding: $section-space 0;

  @include media-breakpoint-down(sm) {
    padding: calc(1rem + 3vw) 0;
  }

  &-head {
    width: 100%;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    //flex-direction: column;
    // flex-wrap: wrap;
    // overflow: auto;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      margin-bottom: 1rem;
      gap: 2rem;
    }

    &-space {
      @include media-breakpoint-down(sm) {
        flex-flow: row wrap;
      }

      @include media-breakpoint-up(lg) {
        align-items: normal;
        flex-wrap: inherit;
        gap: 2rem;
      }
    }

    &-center {
      justify-content: center;
      text-align: center;
    }
  }

  &-heading {
    color: currentColor;
    display: inline-block;

    h1,
    h2,
    h3,
    h4 {
      font-weight: $font-weight-normal;
    }

    h1,
    h2 {
      max-inline-size: 50ch;
      text-wrap: balance;
      font-size: clamp(1.7rem, 1.5vw, 3rem);
      margin: 0;

      >span {
        display: block;
        font-size: 0.875rem;
        text-align: center;
      }

      .search-results {
        font-size: 2rem;
        display: inline-block;
      }

      &~p {
        margin-top: 1rem;
      }
    }

    p {
      font-size: 0.9rem;
      line-height: 1.5;
      font-weight: $font-weight-regular;
    }
  }

  &-action {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 100%;

    @include media-breakpoint-down(sm) {
      //overflow: auto;
      // width: 100%;
    }
  }

  &-foot {
    text-align: center;
    margin-top: 1.5rem;
  }
}