@import "bootstrap/bootstrap";
//@import "bootstrap/variables";
//
@import "themes/variables";

//
@import "layout/header";
@import "layout/mega-menu";
@import "layout/offcanvas-menu";
@import "layout/mobile-menu";
//@import "layout/stack-menu";
//@import "layout/mega-nav";
@import "layout/footer";
@import "layout/wholesale";
//

@import "components/grouping";
@import "components/main-search";
@import "components/carousels";
@import "components/accordion";
@import "components/auto-complete";
@import "components/avtar";
@import "components/back-to-top";
// @import "components/browser_ie";

@import "components/form";
@import "components/checkbox";
@import "components/button";
@import "components/link";
@import "components/side-cart";
//@import "components/catalog-popup";
@import "components/section";
@import "components/cms";
@import "components/cookies";
@import "components/no-data";
@import "components/dropdown";
@import "components/hamburger";
@import "components/loader";
@import "components/spinner";
//@import "components/media";
//@import "components/message";
@import "components/modal";
@import "components/toaster";
@import "components/offcanvas";
@import "components/demo";
//@import "components/multi-list";
//@import "components/pagination";
@import "components/product-card";
@import "components/product-listing";
@import "components/shop-profile";
@import "components/product-prices";
@import "components/pro-info";
@import "components/slider";
@import "components/social-profiles";
@import "components/star-rating";
@import "components/ratings";
//@import "components/steps";
//@import "components/table";
@import "components/tabs";
@import "components/wrap-drop";
@import "components/cards";
//@import "components/switch";
//@import "components/print";
//@import "components/progress-checkout";
@import "components/list-group";
//@import "components/media-more";
@import "components/bg";
@import "components/location-permission";
@import "components/quantity-input";
//@import "components/filter-directory";
//@import "components/filters-left";
@import "components/review-media";
@import "components/badges";
@import "components/scrollbar";
//@import "components/file-upload";
//@import "components/more-sellers";
//@import "components/customer-reviews";
//@import "components/interactive-map";
//@import "components/share-this";
@import "components/cart-summary";
@import "components/list-cart";
@import "components/product-profile";
@import "components/collection-cms";
@import "components/collection-product";
@import "components/collection-shop";
@import "components/collection-category";
@import "components/collection-brands";
@import "components/collection-banner";
@import "components/collection-faq";
@import "components/collection-testimonials";
@import "components/collection-incentives";
@import "components/collection-newsletter";
@import "components/collection-blog";
@import "components/collection-rfq";
//@import "components/ion.rangeSlider";
//@import "components/ion.rangeSlider.skinHTML5";
//@import "components/jquery.datetimepicker";
// @import "components/collection-faq";
//@import "components/product-gallery-slider";
@import "components/alert";
@import "components/misc";
@import "components/system-messages";
@import "components/requestquote";
@import "components/select2";
@import "components/dropdown-toggle-custom";
@import "components/plugin";
//
//@import "vendors/animate";
//@import "vendors/fontawesome";
//@import "vendors/chartist";
//@import "vendors/cropper";
//@import 'vendors/facebox';
@import "vendors/jquery-ui";
//@import "vendors/jquery-ui-timepicker-addon";
//@import "vendors/simplebar";
@import "vendors/slick";
//@import "vendors/xzoom";
//@import "vendors/jquery.fancybox";
//@import "vendors/tagify";
@import "vendors/intlTelInput.min";
//@import "vendors/nouislider.min";
@import "vendors/select2/core";
//

@import "pages/offline";
// @import "pages/index";
@import "pages/collections";
@import "pages/login";
@import "pages/listing";
//@import "pages/detail";
@import "pages/cart";
//@import "pages/checkout";
//@import "pages/blog";
//@import "pages/payment";
//@import "pages/contact";
//@import "pages/faq";
//@import "pages/seller";
@import "pages/shop";
//@import "pages/testimonials";
//@import "pages/sitemap";
//@import "pages/order-completed";
//

.hero-banners {
    display: grid;
    grid-template-columns: 68% 1fr;
    gap: 6px;

    @include media-breakpoint-up(lg) {
        gap: $gap;
    }

    .banners {
        background-color: $bg-placeholder;
        border: none;
        border-radius: $kart;
        aspect-ratio: 10/3.33;
        width: 100%;
        overflow: hidden;

        &:first-of-type {
            grid-row-start: 1;
            grid-row-end: 3;
        }

        img {
            height: 100%;
            width: 100%;
        }
    }
}

.hero-banners-1 {
    display: grid;
    grid-template-columns: 68% 1fr;
    gap: 6px;

    @include media-breakpoint-up(lg) {
        gap: $gap;
    }

    .banners {
        background-color: $bg-placeholder;
        border: none;
        border-radius: $kart;
        aspect-ratio: 10/4;
        height: 100%;
        width: 100%;
        overflow: hidden;

        &:first-of-type {
            grid-row-start: 1;
            grid-row-end: 3;
        }

        img {
            object-fit: cover;
            // height: 100%;
            width: 100%;
        }
    }
}

.hero-slider {
    position: relative;
    margin: 0 auto;
    text-align: center;
    background-color: $bg-gray;
    overflow: hidden;
    margin-bottom: 0 !important;

    @include media-breakpoint-up(lg) {
        aspect-ratio: 10/3.33;
    }

    &-fixed {
        border-radius: $kart;
        margin-top: $section-space;
    }

    .slider-track {
        transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    }

    &-item {
        position: relative;
        height: 100%;
        position: relative;
        z-index: 1;
        margin: 0;
        position: relative;
        padding: 0;

        @include media-breakpoint-down(sm) {}
    }

    &-media {
        background-color: $bg-gray;
        overflow: hidden;

        img {
            margin: 0 auto;
            width: 100%;
            display: block;
            margin: auto;
            width: 100%;
            transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
            transform: scale(1.2);
        }
    }

    .slick-active {
        img {
            transform: scale(1);
        }
    }

    .slick-arrow {
        position: absolute;
        z-index: 5;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border-radius: 50%;
        width: 75px;
        height: 76px;
        padding: 0;
        cursor: pointer;
        text-indent: -9999px;
        border: none;
    }

    .slick-prev {
        background: #ffffff url(../images/arrow-left.png) no-repeat center;
        background-size: 36px;
        #{$start-direction}: calc(50% - 38vw);
    }

    .slick-next {
        background: #ffffff url(../images/arrow-right.png) no-repeat center;
        background-size: 36px;
        #{$end-direction}: calc(50% - 38vw);
    }

    .slick-dots {
        bottom: 20px;

        @include media-breakpoint-up(lg) {
            padding: 0.5rem 1rem;
            position: absolute;
            bottom: 50px;
            #{$start-direction}: 0;
            #{$end-direction}: 0;
            margin: 0 auto;
            text-align: center;
            background-color: #fff;
            box-shadow: $shadow3;
            border-radius: 20px;
            display: inline-block;
            width: max-content;
        }

        li {
            vertical-align: middle;
            display: inline-block;
            margin: 0 4px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 3px solid transparent;
            cursor: pointer;
            background-color: #464646;
            transition: all 0.5s ease-in-out;

            button {
                background: none;
                border: none;
                text-indent: -9999999px;
            }

            &.slick-active {
                background-color: #fff;
                border-color: var(--brand-color);
            }
        }
    }
}

.how-works {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));

    .how-work {
        text-align: center;
        padding: 0 3rem;

        &__icon {
            margin: 1.5rem 0;

            img {
                max-width: 50px;
            }
        }

        &__data {
            position: relative;

            &:before {
                content: attr(data-count);
                opacity: 0.1;
                color: #000;
                font-size: 4rem;
                font-weight: $font-weight-regular;
            }

            h4 {
                font-size: 1.1rem;
                margin-bottom: 1rem;
            }

            p {
                line-height: 1.6;
                font-size: 0.9rem;
                margin-bottom: 0.5rem;
                color: $txt-gray;
            }
        }
    }
}

//FEATURED SECTION CSS HERE
@include media-breakpoint-down(sm) {
    .tabs--mobileview {
        display: block;
        margin: 0;
        padding: 0;

        ul {
            display: block;
            text-align: center;
            overflow: auto;
            white-space: nowrap;
            padding-bottom: 10px;

            li {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}

.featured-products {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .item {
        .products {
            &-body {
                .products-img {
                    margin: 0;
                }
            }

            &-foot {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                padding: 2rem;
                transition: all 0.4s ease-in-out 0s;
                color: #fff;
                display: flex;
                justify-content: center;
                flex-direction: column;
                z-index: 2;
                pointer-events: none;

                * {
                    opacity: 0;
                    transition: all 0.4s ease-in-out 0s;
                }

                &:after {
                    content: "";
                    background: rgba(0, 0, 0, 0.7);
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    opacity: 0;
                    transition: all 0.4s ease-in-out 0s;
                    z-index: 1;
                    pointer-events: none;
                    z-index: -1;
                }

                .products__title {
                    max-width: 100%;
                    min-height: inherit;

                    a {
                        display: block;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

            &:hover {
                .products-foot {
                    * {
                        opacity: 1;
                    }

                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &[data-view="1"] {
        .item {
            grid-column-start: 5;
            grid-column-end: 9;

            @include media-breakpoint-down(lg) {
                grid-column-start: 4;
                grid-column-end: 10;
            }

            @include media-breakpoint-down(sm) {
                grid-column-start: 1;
                grid-column-end: 13;
            }
        }
    }

    &[data-view="2"] {
        .item {
            &:first-child {
                grid-column-start: 4;
                grid-column-end: 7;

                @include media-breakpoint-down(lg) {
                    grid-column-start: 1;
                    grid-column-end: 7;
                }
            }

            &:last-child {
                grid-column-start: 7;
                grid-column-end: 10;

                @include media-breakpoint-down(lg) {
                    grid-column-start: 7;
                    grid-column-end: 13;
                }
            }
        }
    }

    &[data-view="3"] {
        @include media-breakpoint-down(sm) {
            grid-template-columns: repeat(2, 1fr);
        }

        .item {
            @include media-breakpoint-up(md) {
                &:first-child {
                    grid-column-start: 4;
                    grid-column-end: 8;
                    grid-row-start: 1;
                    grid-row-end: 3;

                    @include media-breakpoint-down(lg) {
                        grid-column-start: 1;
                        grid-column-end: 9;
                    }
                }

                &:nth-child(2),
                &:nth-child(3) {
                    grid-column-start: 8;
                    grid-column-end: 10;

                    @include media-breakpoint-down(lg) {
                        grid-column-start: 9;
                        grid-column-end: 13;
                    }
                }
            }

            &:nth-child(3) {
                @include media-breakpoint-down(sm) {
                    grid-column-start: 1;
                    grid-column-end: 3;
                }
            }
        }
    }

    &[data-view="4"] {
        @include media-breakpoint-down(lg) {
            grid-template-columns: repeat(5, 1fr);
        }

        @include media-breakpoint-down(sm) {
            grid-template-columns: repeat(2, 1fr);
        }

        .item {
            @include media-breakpoint-up(md) {
                &:first-child {
                    grid-column-start: 2;
                    grid-column-end: 6;
                    grid-row-start: 1;
                    grid-row-end: 3;

                    @include media-breakpoint-down(lg) {
                        grid-column-start: 1;
                        grid-column-end: 3;
                    }
                }

                &:nth-child(2),
                &:nth-child(3) {
                    grid-column-start: 6;
                    grid-column-end: 8;

                    @include media-breakpoint-down(lg) {
                        grid-column-start: 3;
                        grid-column-end: 4;
                    }
                }

                &:nth-child(4) {
                    grid-column-start: 8;
                    grid-column-end: 12;
                    grid-row-start: 1;
                    grid-row-end: 3;

                    @include media-breakpoint-down(lg) {
                        grid-column-start: 4;
                        grid-column-end: 6;
                    }
                }
            }
        }
    }

    &[data-view="5"] {
        @include media-breakpoint-down(sm) {
            grid-template-columns: repeat(2, 1fr);
        }

        .item {
            @include media-breakpoint-up(md) {

                &:first-child,
                &:nth-child(2) {
                    grid-column-start: 3;
                    grid-column-end: 5;

                    @include media-breakpoint-down(lg) {
                        grid-column-start: 1;
                        grid-column-end: 4;
                    }
                }

                &:nth-child(3) {
                    grid-column-start: 5;
                    grid-column-end: 9;
                    grid-row-start: 1;
                    grid-row-end: 3;

                    @include media-breakpoint-down(lg) {
                        grid-column-start: 4;
                        grid-column-end: 10;
                    }
                }

                &:nth-child(4) {
                    grid-column-start: 9;
                    grid-column-end: 11;
                    grid-row-start: 1;
                    grid-row-end: 3;

                    @include media-breakpoint-down(lg) {
                        grid-column-start: 10;
                        grid-column-end: 13;
                    }
                }

                &:nth-child(5) {
                    grid-column-start: 9;
                    grid-column-end: 11;
                    grid-row-start: 2;
                    grid-row-end: 3;

                    @include media-breakpoint-down(lg) {
                        grid-column-start: 10;
                        grid-column-end: 13;
                    }
                }
            }

            &:nth-child(5) {
                @include media-breakpoint-down(sm) {
                    grid-column-start: 1;
                    grid-column-end: 3;
                }
            }
        }
    }

    &[data-view="6"] {
        @include media-breakpoint-down(sm) {
            grid-template-columns: repeat(2, 1fr);
        }

        .item {
            @include media-breakpoint-up(md) {
                &:first-child {
                    grid-column-start: 1;
                    grid-column-end: 5;
                    grid-row-start: 1;
                    grid-row-end: 3;

                    @include media-breakpoint-down(lg) {
                        grid-column-start: 1;
                        grid-column-end: 5;
                        grid-row-start: 1;
                        grid-row-end: 2;
                    }
                }

                &:nth-child(2) {
                    grid-column-start: 5;
                    grid-column-end: 7;

                    @include media-breakpoint-down(lg) {
                        grid-column-start: 5;
                        grid-column-end: 9;
                    }
                }

                &:nth-child(3) {
                    grid-column-start: 5;
                    grid-column-end: 7;
                    grid-row-start: 2;
                    grid-row-end: 3;

                    @include media-breakpoint-down(lg) {
                        grid-column-start: 9;
                        grid-column-end: 13;
                        grid-row-start: 1;
                        grid-row-end: 2;
                    }
                }

                &:nth-child(4) {
                    grid-column-start: 7;
                    grid-column-end: 9;

                    @include media-breakpoint-down(lg) {
                        grid-column-start: 1;
                        grid-column-end: 5;
                    }
                }

                &:nth-child(5) {
                    grid-column-start: 7;
                    grid-column-end: 9;
                    grid-row-start: 2;
                    grid-row-end: 3;

                    @include media-breakpoint-down(lg) {
                        grid-column-start: 5;
                        grid-column-end: 9;
                        grid-row-start: 2;
                        grid-row-end: 3;
                    }
                }

                &:nth-child(6) {
                    grid-column-start: 9;
                    grid-column-end: 13;
                    grid-row-start: 1;
                    grid-row-end: 3;

                    @include media-breakpoint-down(lg) {
                        grid-column-start: 9;
                        grid-column-end: 13;
                        grid-row-start: 2;
                        grid-row-end: 3;
                    }
                }
            }
        }
    }

    &[data-view="7"] {
        @include media-breakpoint-down(sm) {
            grid-template-columns: repeat(2, 1fr);
        }

        .item {
            @include media-breakpoint-up(md) {
                &:first-child {
                    grid-column-start: 2;
                    grid-column-end: 6;
                    grid-row-start: 1;
                    grid-row-end: 3;

                    @include media-breakpoint-down(lg) {
                        grid-column-start: 1;
                        grid-column-end: 5;
                        grid-row-start: 1;
                        grid-row-end: 2;
                    }
                }

                &:nth-child(2) {
                    grid-column-start: 6;
                    grid-column-end: 8;

                    @include media-breakpoint-down(lg) {
                        grid-column-start: 5;
                        grid-column-end: 9;
                    }
                }

                &:nth-child(3) {
                    grid-column-start: 6;
                    grid-column-end: 8;
                    grid-row-start: 2;
                    grid-row-end: 3;

                    @include media-breakpoint-down(lg) {
                        grid-column-start: 9;
                        grid-column-end: 13;
                        grid-row-start: 1;
                        grid-row-end: 2;
                    }
                }

                &:nth-child(4) {
                    grid-column-start: 8;
                    grid-column-end: 10;

                    @include media-breakpoint-down(lg) {
                        grid-column-start: 1;
                        grid-column-end: 4;
                    }
                }

                &:nth-child(5) {
                    grid-column-start: 8;
                    grid-column-end: 10;
                    grid-row-start: 2;
                    grid-row-end: 3;

                    @include media-breakpoint-down(lg) {
                        grid-column-start: 4;
                        grid-column-end: 7;
                        grid-row-start: 2;
                        grid-row-end: 2;
                    }
                }

                &:nth-child(6) {
                    grid-column-start: 10;
                    grid-column-end: 12;

                    @include media-breakpoint-down(lg) {
                        grid-column-start: 7;
                        grid-column-end: 10;
                    }
                }

                &:nth-child(7) {
                    grid-column-start: 10;
                    grid-column-end: 12;
                    grid-row-start: 2;
                    grid-row-end: 3;

                    @include media-breakpoint-down(lg) {
                        grid-column-start: 10;
                        grid-column-end: 13;
                    }
                }
            }

            &:last-child {
                @include media-breakpoint-down(sm) {
                    grid-column-start: 1;
                    grid-column-end: 3;
                }
            }
        }
    }
}